@model SigninViewModel


<div class="row">

    <div class="col-md-4 offset-md-4">
        <h4>Signin Form</h4>
        <hr/>
        <form asp-action="Signin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control"/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">

                <input type="checkbox" asp-for="RememberMe"/> Beni Hatırla
            </div>
            <div class="form-group">
                <input type="submit" value="Signin" class="btn btn-primary"/>
            </div>
        </form>


    </div>
</div>